<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,600;0,900;1,200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="links">
      <a href="/">Sobre</a>
      <a href="/portfolio">Aulas</a>
    </div>
  </header>
  <div class="wrapper">
    <img src="https://avatars1.githubusercontent.com/u/18013936?s=460&u=56ebd9576b4f0b912080d1283180c25c6d589294&v=4" alt="my">
    <h1>Vídeos</h1>
  </div>

  <section class="cards">
   <div class="card">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/UftSB4DaRU4/maxresdefault.jpg" alt="capa img">
    </div>
    <div class="card__content">
      <p>Manipulando a DOM</p>
    </div>
    <div class="card__info">
      <p>1h37min</p>
      <p class="card__price">FREE</p>
    </div>  
   </div>
   <div class="card">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/UftSB4DaRU4/maxresdefault.jpg" alt="capa img">
    </div>
    <div class="card__content">
      <p>Manipulando a DOM</p>
    </div>
    <div class="card__info">
      <p>1h37min</p>
      <p class="card__price">FREE</p>
    </div>  
   </div>
   <div class="card">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/UftSB4DaRU4/maxresdefault.jpg" alt="capa img">
    </div>
    <div class="card__content">
      <p>Manipulando a DOM</p>
    </div>
    <div class="card__info">
      <p>1h37min</p>
      <p class="card__price">FREE</p>
    </div>  
   </div>
   <div class="card">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/UftSB4DaRU4/maxresdefault.jpg" alt="capa img">
    </div>
    <div class="card__content">
      <p>Manipulando a DOM</p>
    </div>
    <div class="card__info">
      <p>1h37min</p>
      <p class="card__price">FREE</p>
    </div>  
   </div>
   <div class="card">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/UftSB4DaRU4/maxresdefault.jpg" alt="capa img">
    </div>
    <div class="card__content">
      <p>Manipulando a DOM</p>
    </div>
    <div class="card__info">
      <p>1h37min</p>
      <p class="card__price">FREE</p>
    </div>  
   </div>
   <div class="card">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/UftSB4DaRU4/maxresdefault.jpg" alt="capa img">
    </div>
    <div class="card__content">
      <p>Manipulando a DOM</p>
    </div>
    <div class="card__info">
      <p>1h37min</p>
      <p class="card__price">FREE</p>
    </div>  
   </div>
  </section>

  <footer>
    <div class="links">
      <a href="/">Github</a>
      <a href="/">Twitter</a>
      <a href="/">Linkedin</a>
    </div>
  </footer>
</body>
</html>